@model List<Book>
@{
    int count = 0;
}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Books Table</h4>
                <a class="btn btn-success" asp-controller="book" asp-action="create">Create Book</a>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    No
                                </th>
                                <th>
                                    Image
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Genre
                                </th>
                                <th>
                                    Author
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Book book in Model)
                            {
                                count++;
                                <tr>

                                    <td>
                                        @count
                                        @if (!book.IsAviable)
                                        {
                                            <span style="background-color:orangered; padding:5px 10px; color:white; margin-left:5px; border-radius:5px">Out of stock</span>
                                        }
                                    </td>
                                    <td>
                                        <img style="width:150px; height:150px; border-radius:0px;" src="~/assets/image/products/@book.Images.FirstOrDefault(i => i.IsPrimary == true)?.Image" />
                                    </td>
                                    <td>
                                        @book.Name
                                    </td>
                                    <td>
                                        @book.Genre.Name
                                    </td>
                                    <td>
                                        <a asp-controller="book" asp-action="update" asp-route-id="@book.Id" class="btn btn-warning btn-info"><i class="mdi mdi-lead-pencil"></i></a>
                                        <a asp-controller="book" asp-action="delete" asp-route-id="@book.Id" class="btn btn-danger btn-info"><i class="mdi mdi-delete"></i></a>
                                        <a asp-controller="book" asp-action="details" asp-route-id="@book.Id" class="btn btn-primary btn-info"><i class="mdi mdi-link-variant"></i></a>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
